.custom-breadcrumb {
  //width: 100%;
  list-style-type: none;
  display: table;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  > li {
    display: table-cell;
    text-decoration: none;
    padding: 10px 0 10px 50px;
    position: relative;
    float: left;
    text-align: center;
    width: 150px;

    &:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 1px;
      left: 100%;
      z-index: 1;
      border-radius: 40px 0 0 40px;
    }

    &:not(:last-child):after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 100%;
      z-index: 2;
    }

    &:first-child {
      padding-left: 25px;
      border-radius: 40px 0 0 40px;
    }

    &:last-child {
      padding-right: 25px;
      border-radius: 0 40px 40px 0;
    }
  }
}

.blue-crumb {
  background-color: #4888b4;
  color: white;
  text-align: center;

  &:after {
    border-left: 30px solid #4888b4;
  }
}

.gray-crumb {
  background-color: #bdc3c7;
  color: #8e8e93;
  text-align: center;

  &:after {
    border-left: 30px solid #bdc3c7;
  }
}

.light-blue-crumb {
  background: #3498db;
  color: white;
  text-align: center;

  &:after {
    border-left: 30px solid #3498db;
  }
}

.faded-crumb {
  background: #ecf0f1;
  color: #95a5a6;

  &:after {
    border-left: 30px solid #ecf0f1;
  }
}

.mat-icon-button {
  height: 28px;
  line-height: 0px;
}

/deep/ .mat-menu-content:not(:empty) {
  padding-top: 1px;
  padding-bottom: 1px;
}

.mat-menu-item {
  padding: 0px;
}
