<ul class="custom-breadcrumb">
  <li (click)="onStateClicked(state)"
      *ngFor="let state of states | slice:0:splitPoint; let index = index;"
      [matTooltip]="state.length > 10 ? state : ''"
      [ngClass]="{'blue-crumb': index < currentStateIndex,
                  'light-blue-crumb': index === currentStateIndex,
                  'gray-crumb':  index > currentStateIndex}">
    {{state | sliceWithDots :10}}
  </li>

  <li (click)="isOpen = true;" *ngIf="states.length > 0 && states.length > splitPoint"
      [ngClass]="{'dropdown nav-item blue-crumb': splitPoint < currentStateIndex,
                  'dropdown nav-item light-blue-crumb': splitPoint === currentStateIndex,
                  'dropdown nav-item gray-crumb':  splitPoint > currentStateIndex}"
      style="height: 39px; width: 85px; padding-left: 35px;">

    <a [matMenuTriggerFor]="otherMenu" mat-icon-button>
      <mat-icon style="line-height: 20px">
        <span [ngClass]="isOpen ? 'ti-angle-down' : 'ti-angle-right'"></span>
      </mat-icon>
    </a>

    <mat-menu #otherMenu="matMenu" (closed)="closeMenu()" [overlapTrigger]="false" xPosition="before"
              yPosition="below">
      <span>
        <button (click)="onStateClicked(state)"
                *ngFor="let state of states | slice:splitPoint:states.length; let index = index;"
                [matTooltip]="state.length > 10 ? state : ''"
                mat-menu-item>
  <li [ngClass]="{'dropdown-item blue-crumb': index + splitPoint < currentStateIndex,
                          'dropdown-item light-blue-crumb': index + splitPoint === currentStateIndex,
                          'dropdown-item gray-crumb':  index + splitPoint > currentStateIndex}"
      style="display: block">
    {{state | sliceWithDots :10}}
  </li>
  </button>
  </span>
  </mat-menu>
  </li>
</ul>
