<mat-form-field>
  <input [formControl]="control"
         [placeholder]="config.placeholder | translate"
         [matAutocomplete]="autocomplete"
         matInput
         type="text">
  <mat-autocomplete #autocomplete="matAutocomplete"
                    (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let element of data" [value]="element">
      <ng-container *ngIf="config.displayPaths; else notObject">
        <span>{{element | atObject :config.displayPaths :' '}}</span>
      </ng-container>
      <ng-template #notObject>
        <span>{{element}}</span>
      </ng-template>
    </mat-option>
  </mat-autocomplete>
  <mat-icon fontIcon="ti-search" inline="true" matSuffix></mat-icon>
</mat-form-field>
