.mat-card-header {
  background-color: #3f7d91;
  color: #fff;
  margin: -24px -24px 0 -24px;
  padding: 8px 24px;
  font-size: 36px;
}

.mat-dialog-title .close {
  position: relative;
  right: 0;
  top: 0;
}

.mat-dialog-content {
  padding: 24px;
}

.mat-dialog-actions {
  border-top: 1px solid lightgray;
  background-color: white;
  margin: -1px -24px -24px -24px;
  padding: 0 24px;
}

//.row > [class*="col-"] {
//  margin-bottom: 5px !important;
//  margin-top: 5px !important;
//}

mat-divider {
  margin-bottom: 10px;
}

mat-slide-toggle {
  border-top: 0.84375em solid transparent;
  padding: 0.4375em 0;
}
