<mat-card-header mat-dialog-title>
  <mat-card-title>
    {{data.config.title | translate}}
  </mat-card-title>
</mat-card-header>

<mat-card-content mat-dialog-content>
  <form *ngIf="formGroup" [formGroup]="formGroup" class="row">

    <!-- GENERAL -->
    <div class="col-12">
      <h6>{{data.config.translatePrefix + 'custom-fields.general' | translate}}</h6>
      <mat-divider></mat-divider>
    </div>
    <mat-form-field class="col-6">
      <input [placeholder]="data.config.translatePrefix + 'login' | translate"
             formControlName="login"
             matInput>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input [placeholder]="data.config.translatePrefix + 'firstName' | translate"
             formControlName="firstName"
             matInput>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input [placeholder]="data.config.translatePrefix + 'lastName' | translate"
             formControlName="lastName"
             matInput>
    </mat-form-field>
    <mat-form-field class="col-6">
      <input [placeholder]="data.config.translatePrefix + 'email' | translate"
             formControlName="email"
             matInput>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-select [placeholder]="data.config.translatePrefix + 'langKey' | translate"
                  formControlName="langKey">
        <mat-option *ngFor="let lang of data.config.languages"
                    [value]="lang">{{data.config.translatePrefix + 'custom-fields.langKeys.' + lang | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-6">
      <mat-slide-toggle formControlName="activated">
        {{data.config.translatePrefix + 'activated' | translate}}
      </mat-slide-toggle>
    </div>

    <!-- GROUPS -->
    <div class="col-12">
      <h6>{{data.config.translatePrefix + 'custom-fields.groups' | translate}}</h6>
      <mat-divider></mat-divider>
    </div>
    <mat-form-field class="col-12">
      <mat-chip-list #groupsChipList>
        <mat-chip (removed)="removeGroup(group)"
                  *ngFor="let group of formGroup.get('groups').value; let index = index"
                  [removable]="true">
          {{group | atObject :['name'] :''}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #groupsInput
               (matChipInputTokenEnd)="inputGroup()"
               [formControl]="groupsCtrl"
               [matAutocomplete]="groupsAutocomplete"
               [matChipInputFor]="groupsChipList"
               [placeholder]="data.config.translatePrefix + 'groups' | translate">
      </mat-chip-list>
      <mat-autocomplete #groupsAutocomplete="matAutocomplete" (optionSelected)="selectGroup($event)">
        <mat-option *ngFor="let group of filteredGroups$ | async" [value]="group">
          {{group | atObject :['name'] :''}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </form>
</mat-card-content>

<mat-card-actions align="end" mat-dialog-actions>
  <button [mat-dialog-close]="undefined"
          mat-button>
    {{data.config.actions.close | translate}}
  </button>
  <button [disabled]="!formGroup?.valid"
          [mat-dialog-close]="formGroup?.value"
          color="primary"
          mat-raised-button
          type="submit">
    {{data.config.actions.submit | translate}}
  </button>
</mat-card-actions>
